*{
    box-sizing: border-box;
    margin: 0PX;
    padding: 0px;
    color: white;
    font-family:'Itim', cursive;
    /* text-align: center; */
    
}

body{
    background-color: bisque;
} 

h2{
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 3px black;
    }

form{
    margin-left: 250px;
}

input{ 
    padding: 5px;
    margin: 30px; 
    font-weight:bold ;
    font-size:large ;
    color: white;
    background-color: darkgray;
    border-radius: 10px;
    }
    
button{
     padding: 10px;
     border-radius: 10px;
     color: aliceblue;
     background-color: rgb(247, 173, 82);
     font-size:medium;
     font-weight:bold ;
     margin-right: 60px;
     border-width: 5px;
}
button:hover{
    background-color: rgb(83, 83, 82);
}

 p{
    font-weight: bold;
    font-size: large;
    margin-left: 250px;
    margin-top: 15px;
}

 .container{
    width: 800px;
    height:300px ;
    background-color: #0E2F2F;
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 10px; 
}

nav{
    margin-left: 400px;
    word-spacing: 10px;
   }

   #select{
    font-size: larger;
   }
   #reset{
    margin-left:1px;
   }